<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 bg-blue-700 rounded-full mr-2 flex justify-center items-center">S</div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm flex-1">
    Articles written in this blog are my own opinions and do not reflect the views of my employer.
    Content on this website is original unless mentioned otherwise. Original content is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer" class="text-blue-700 hover:underline">CC BY 4.0 Deed</a>.
    Some of the content might have been preprocessed by AI for clarity and articulation.
  </p>
</div>